<style type="text/css">
    .has-error input {
        background-color: #FF9494;
    }
    .has-error span {
        color: #ff0000;
    }
</style>


<div ng-show="status">
    {{status}}
</div>

<form ng-submit="submitForm()">
    <div ng-class="{ 'has-error' : errors.name }">
        <label>Name:</label> <input type="text" name="name" ng-model="recipe.name"/>
        <span ng-show="errors.name">{{errors.name}}</span>
        <br />
    </div>
    <div ng-class="{ 'has-error' : errors.description }">
        <label>Description:</label> <input type="text" name="description" ng-model="recipe.description"/>
        <span ng-show="errors.name">{{errors.description}}</span>
        <br />
    </div>

    </div>
        <label>Instructions:</label><br/>

        <div ng-repeat="instruction in recipe.instructions" ng-init="formName = 'instruction[' + $index + ']'">
            <textarea name="{{formName}}" ng-model="instruction.text"/>
        </div>
        <button type="button" ng-click="addInstruction()">Add Instruction</button>
    </div>

    <br/>
    <br/>
    <button type="submit">Submit!</button>
</form>

<hr/>
{{recipe}}
<hr/>
