<strong>Name:</strong> {{recipe.name}}<br />
<strong>Category:</strong> {{recipe.category.name}}<br />

<strong>Tags:</strong>
<ul>
    <li ng-repeat="tag in recipe.tags">{{tag.name}}</li>
</ul>
</br>

<strong>Prep Time:</strong> {{recipe.prepTime}} minutes</br>
<strong>Cook Time:</strong> {{recipe.cookTime}} minutes</br>

<strong>Ingredients:</strong>
<ul>
    <li ng-repeat="ingredient in recipe.ingredients">{{ingredient.quantity}} {{ingredient.units}} {{ingredient.name}}</li>
</ul>

</br>

<strong>Equipment:</strong>
<ul>
    <li ng-repeat="equipment in recipe.equipment">{{equipment.description}}</li>
</ul>
</br>

<strong>Instructions:</strong>
<ul>
    <li ng-repeat="instruction in recipe.instructions">{{instruction.text}}</li>
</ul>

</br>

<strong>Source:</strong> <a href="{{recipe.sourceUrl}}">{{recipe.source}}</a></br>

<hr/>

<a href="/recipes">Back to all recipes</a>
